<app-navbar></app-navbar>
<div class="valign-wrapper" id="login-page">
        <div class="container">
            <div class="center-align">
                <div class="row">
                    <div class="col s6 offset-s4">
                        <div class="card">
                            <div class="card-content">
                                <img class="responsive-img" style="max-width:64px" src="assets/SoftMeen.png" />
                                <div class="left-align">
                                    <form (ngSubmit)="iniciarSesion()" [formGroup]="formularioLogin" >
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input name="nick"  id="formGroupExampleInput" type="text" formControlName="nick" class="form-control">
                                                <label  for="formGroupExampleInput">Usuario</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input name="contrasena" id="formGroupExampleInput2" formControlName="contrasena" type="password" class="form-control" required >
                                                <label for="formGroupExampleInput2">Password</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="btn-group">
                                                <button class="waves-effect waves-light btn-large" type="submit" >
                                                    Ingresar

                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>