
<div class="container">

  <div class="col s6">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" *ngFor="let p of asignaciones" >
            <div class="card-content white-text">
              <span class="card-title">Profesor: {{p.nombre}}    </span>
              <span class="card-tittle">Materia: {{p.materia}}</span>
              <p> Secciones asignadas: {{p.seccion}} </p>
            </div>
            
          </div>
        </div>
      </div>
</div>


 