<br>
<button class="btn btn-outline-primary"
[routerLink]="['/administrador/materia/nuevo']">
  Nueva materia
</button>

<div class="container">

  <div class="col s6">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" *ngFor="let materia of materias" >
            <div class="card-content white-text">
              <span class="card-title">{{materia.nombre}} </span>
              <p> Token:
                {{materia.token}} </p>
            </div>
            <div class="card-action">
            <button
          [routerLink]="['/administrador/materia', materia.idMateria]"
          class="btn btn-outline-info">
            Ver mas
          </button>  
          <button
          (click)="borrarMateria(materia.idMateria)"
          class="btn btn-outline-danger">
            <strong>Eliminar</strong>
          </button>
            </div>
          </div>
        </div>
      </div>
</div>