<h1>Materia <small></small></h1>
<button class="btn btn-outline-secondary"
[routerLink]="['/administrador/materia']">
  Regresar
</button>

<button class="btn btn-outline-primary"
[routerLink]="['/administrador/materia/nuevo']">
  Nueva Materia
</button>





<div *ngIf="notificacion.estado"
class="btn" role="alert">
  <button type="button"  data-dismiss="alert" aria-label="Close">
    
  </button>
  <strong>{{ notificacion.mensaje }}</strong>.
</div>



<form #formularioContacto="ngForm" (ngSubmit)="guardarCambios()">
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control"
    placeholder="Ingrese su nombre"
    [(ngModel)]="materia.nombre"
    name="nombre">
  </div>

  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>