<div class="container">

  <div class="col s6">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" *ngFor="let materia of materias" >
            <div class="card-content white-text">
              <span class="card-title">{{materia.nombre}}  </span>
              <p></p>
            </div>
            <div class="card-action">
            <button
          [routerLink]="['/administrador/materia', materia.idMateria]"
          class="btn btn-outline-info">
            Asignarse
          </button>  
          
            </div>
          </div>
        </div>
      </div>
</div>