
<h2>Asignacion</h2>
<div class="container">
 <form (ngSubmit)="guardarCambios()" #formularioAsignar="ngForm">
<h4>Seccion</h4>
  <div class="form-group">
    <select class="form-control" name="idSeccion" [(ngModel)]="asignacion.idSeccion">
      <option value="0">Seleccione una opcion</option>
      <option value="1">PE6AV</option>
      <option value="2">PE6AM</option>
      <option value="3">PE5AM</option>
      <option value="4">PE4AM</option>
    </select>
  </div>
<h4>Materia</h4>

<div class="form-group">
    <select class="form-control" name="idMateria" [(ngModel)]="asignacion.idMateria">
      <option value="0">Seleccione una opcion</option>
      <option value="2">seguridad informatica 5</option>
      <option value="3">programacion I</option>
      <option value="4">CCNA</option>
    </select>
  </div>


    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
 
 </div>