<h1>Profesor</h1>
<button class="btn btn-outline-secondary"
[routerLink]="['/administrador/contacto']">
  Regresar
</button>
<div *ngIf="notificacion.estado"
class="btn" role="alert">
  <button type="button"  data-dismiss="alert" aria-label="Close">
    
  </button>
  <strong>{{ notificacion.mensaje }}</strong>.
</div>

<div class="container" >

<form #formularioProfesor="ngForm"  (ngSubmit)="guardarCambios()">
  <div class="form-group">
  
    <div class="input-field col s6">
        <label > Nombre</label> 
        <input id="last_name" type="text" class="validate" [(ngModel)]="profesors.nombre"
    name="nombre" >
          
        </div>
  </div>
  <div class="form-group">
    
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" [(ngModel)]="profesors.apellido"
    name="apellido">
          <label for="last_name">apellido</label>
        </div>
  </div>
  <div class="form-group">
  
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" [(ngModel)]="profesors.direccion"
    name="direccion" >
          <label for="last_name">Direccion</label>
        </div>
  </div>
  <div class="form-group">
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" [(ngModel)]="profesors.telefono"
    name="telefono">
          <label for="last_name">Telefono</label>
        </div>
  </div>
      
  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
</div>