<br>
<button class="btn btn-outline-danger" (click)="agre()" >Nuevo Profesor</button>
<div *ngIf="notificacion.estado"
class="btn" role="alert">
  <button type="button"  data-dismiss="alert" aria-label="Close">
    
  </button>
  <strong>{{ notificacion.mensaje }}</strong>.
</div>
<div class="container" >

<form #formularioContacto="ngForm" *ngIf="agregar"  (ngSubmit)="guardarCambios()">
  <div class="form-group">
  
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" [(ngModel)]="profesor.nombre"
    name="nombre" >
          <label for="last_name"> Nombre</label>
        </div>
  </div>
  <div class="form-group">
    
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" [(ngModel)]="profesor.apellido"
    name="apellido">
          <label for="last_name">apellido</label>
        </div>
  </div>
  <div class="form-group">
  
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" [(ngModel)]="profesor.direccion"
    name="direccion" >
          <label for="last_name">Direccion</label>
        </div>
  </div>
  <div class="form-group">
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" [(ngModel)]="profesor.telefono"
    name="telefono">
          <label for="last_name">Telefono</label>
        </div>
  </div>

   <div class="form-group">
 
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate"  [(ngModel)]="profesor.nick"
    name="nick">
          <label for="last_name">Nick</label>
        </div>
  </div>
      
   <div class="form-group">
 
    <div class="input-field col s6">
          <input id="last_name" type="text" class="validate"  [(ngModel)]="profesor.contrasena"
    name="contrasena">
          <label for="last_name">Password</label>
        </div>
  </div>
      

  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
</div>

<div class="container">

  <div class="col s6" *ngIf="profesores">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" *ngFor="let profesor of profesores" >
            <div class="card-content white-text">
              <span class="card-title">{{profesor.nombre}}  {{profesor.apellido}} {{profesor.idProfesor}} </span>
              <p></p>
            </div>
            <div class="card-action">
            <button
          [routerLink]="['/administrador/profesor', profesor.idProfesor]"
          class="btn btn-outline-info">
            Ver mas
          </button>  
          <button
          [routerLink]="['/administrador/asignar', profesor.idProfesor]"
          class="btn btn-outline-info">
            Asignar
          </button>  
          
          <button
          (click)="borrarProfesor(profesor.idProfesor)"
          class="btn btn-outline-danger">
            <strong>Eliminar</strong>
          </button>
            </div>
          </div>
        </div>
      </div>
</div>


 
